# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/

/.idea/preferred-vcs.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/5_lang_frequency.iml
/.idea/workspace.xml
/text.txt
/waw.txt
